export SERVER_URL=https://dolb.ngrok.io
export DB_ADDR=192.168.117.131:32772
export DB_NAME=dolb
export MIGRATE_URL="postgres://postgres@$(docker-machine ip dolb):5432/dolb?sslmode=disable"
export DB_URL=$MIGRATE_URL
