{{ define "title" }} DOLB: Load Balancer {{ end }}

{{ define "content" }}
<div class="row">
  <div class="col-md-12">
    <p>
    One day i will show a load balancer
    </p>
  </div>
</div>
{{ end }}
