$navbar-height: 50px;
$navbar-border-radius: 0;
$navbar-collapse-max-height: 340px;
$navbar-default-bg: #5a3b81;
$navbar-default-link-color: #ddd;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-disabled-color: #888;
$navbar-default-brand-color: #fff;
$navbar-default-brand-hover-color: #f8f8f8;
$navbar-default-toggle-hover-bg: #ddd;
$navbar-default-toggle-icon-bar-bg: #fff;
$navbar-default-toggle-border-color: #ddd;

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}
