<div class="row">
<div class="col-md-2">
  <div class="list-group">
    <button class="list-group-item" ng-click="addService()" ng-disabled="canAddService" ng-class="{disabled: canAddService}">
      <span class="glyphicon glyphicon-plus" aria-hidden=true"></span>&nbsp;Add Service
    </button>
  </div>
</div>

<div class="col-md-10">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Port</th>
      <th>Type</th>
      <th>Matcher</th>
      <th>Value</th>
    </tr>
    <tr ng-repeat="service in resp.services">
      <td>
        <a ui-sref="lb.service({lbID: lb.id, serviceID: service.name})">{{ service.name }}</a>
      </td>
      <td>{{ service.port }}</td>
      <td>{{ service.type }}</td>
      <td>{{ service | getServiceMatcher }}</td>
      <td>{{ service | getServiceValue }}</td>
    </tr>
  </table>
</div>
</div>
